<%= javascript_pack_tag 'home.js' %>
<div class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-text-content"></p>
  </div>
</div>
<h1 class="center_text">Daily Schedule</h1>
<div id="grid-container">
    <div class="column">
        <div class="grid-item center_text">Time</div>
        <% for i in 0..23 %>
            <% time_block = Time.new(2019,1,10,i,0,0) %>
            <div class="grid-item center_text"><%= time_block.strftime("%I:%M %p") %></div>
        <%end%>
    </div>
    <% @technicans.each do |technican|%>
    <div class="column">
        <div class="grid-item center_text">
            <%= technican.name %>
        </div>
        <% for i in 0..23 %>
            <% time_block = Time.new(2019,1,10,i,0,0) %>
                <div class="grid-item">
                <% work_order =  @workOrders.select { |k, v| k.technician_id == technican.id}
                 .find{ |order| order.time >= time_block && order.time < (time_block + 60.minutes)} %>
                 <%= render partial: "work_order", locals: { work_order: work_order} if work_order != nil %>
                 </div>
        <%end%>
    </div>
    <%end%>
</div>